---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import "hero";
@import "categories";
@import "links";
@import "blog";
@import "slider";


body {
    margin: 0;
    padding: 0;
    border-top: 4px solid #ff5c79;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

s
img {
    max-width: 100%;
}






// MOBILE WILL START RIGHT NOW 

@media only screen and (max-width: 700px) {

h1 {
    font-size: 46px !important;
    padding-top: 1rem !important;
}
p {
    font-size: 16px !important;
    line-height: 30px !important;
}

}