.wrapper {
  width: 650px;
  max-width: 90%;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
}



img {
  max-width: 100%;
}

.slide_in {
  opacity: 0;
  transition: all .4s ease-in;
  transform: translateY(10%) scale(1);
}

.slide_in.active {
  transform: translateX(0%) scale(1);
  opacity: 1;
}




