#categories {
    text-align: center;
    margin: 0em auto;
    background-color: #FFF6EB;
    background-image: url(/IMG/background_test2.svg);
    padding: 3em 0em;
    height: 232px;
    /* background by SVGBackgrounds.com */
    .wrapper {
        width: 1100px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        h2 {
            font-size: 42px;
            color: #3F3F3F;
            letter-spacing: 0;
            margin: 0;
        }
        p {
            color: #988264;
            margin: 0;
            padding-top: 20px;
            margin-bottom: 1rem;
            font-size: 20px;
        }
        .categories {
            display: flex;
            text-align: center;
            justify-content: center;
            padding-top: 25px;
        }
        .categorie {
            padding: 1em 3em;
            img {
                height: 150px;
                width: 150px;
            }
            h3 {
                font-family: Lato-Bold;
                font-size: 28px;
                color: #3F3F3F;
                letter-spacing: 0;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}



#pattern05 {
    position: absolute;
    width: 100px;
    left: 1em;
    display: none;
}

#pattern06 {
    position: absolute;
    width: 60px;
    right: 0;
    display: none;
}

#pattern07 {
    position: absolute;
    width: 50px;
    right: 10em;
    display: none;
}




// MOBILE WILL START RIGHT NOW 




@media only screen and (max-width: 700px) {

    #categories {
        height: auto;
        /* background by SVGBackgrounds.com */
        .wrapper {
            h2 {
                font-size: 42px;
                color: #3F3F3F;
                letter-spacing: 0;
                margin: 0;
            }
            .categories {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 0px;
                width: 70vw;
                margin: 0 auto;
            }
            .categorie {
                padding: 1em 1em;
                img {
                    height: 126px;
                    width: 120px;
                }
                h3 {
                    font-family: Lato-Bold;
                    margin-bottom: 0;
                    margin-top: 0px;
                    font-size: 18px;
                }
            }
        }
    }


}