#hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    .wrapper {
        width: 1100px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;

        h1 {
            font-size: 68px;
            font-weight: 700;
            text-transform: uppercase;
            margin: .2em auto;
            color: #222;
            margin-bottom: 0;
            span {
                font-weight: 300;
            }
        }
        p {
            color: #191714;
            margin: 0;
            padding-top: 1rem;
            margin-bottom: 1rem;
            font-size: 20px;
            span{
            color: #fc627a;
            } 
        }
        button {
            background: #FE627A;
            border-radius: 10px;
            padding: 1em 2.75em;
            border: none;
            font-family: Lato;
            font-size: 16px;
            color: #fff;
            margin-top: 4em;
            font-weight: 600;
        }
    }

}


#hero_image {
    width: 52vw;
    max-width: 1070px;
}

#pattern01 {
    position: absolute;
    width: 200px;
    left: 0;
    animation: bounceIn;
    animation-duration: 13s;
    animation-iteration-count:infinite;
}

#pattern02 {
    position: absolute;
    width: 200px;
    right: 0;
}

#pattern03 {
    position: absolute;
    width: 120px;
    right: 0;
}

#pattern04 {
    position: absolute;
    width: 78px;
    right: 0;
    animation: bounceIn;
    animation-duration: 23s;
    animation-iteration-count:infinite;
}



#pattern10 {
    position: absolute;
    left: 0;
    width: 148px;
}





// MOBILE WILL START RIGHT NOW 

@media only screen and (max-width: 700px) {




    #hero_image {
        width: 90vw;
    }




    #hero {
        height: 100vh;
        display: flex;
        .wrapper {
            max-width: 90%;
            h1 {
                font-size: 46px;
                padding-top: 1rem;
            }
            p {
                font-size: 16px;
                line-height: 30px;
            }
            button {
                font-size: 14px;
                margin-top: 1em;
            }
        }
    
    }


    #pattern01 {
        width: 100px;
        top: -5em;
        max-width: 90%;
    }
    
    #pattern02 {
        width: 100px;
        max-width: 90%;
    }
    
    #pattern03 {
        width: 50px;
        max-width: 90%;
        top: -3em;
    }
    
    #pattern04 {
        width: 48px;
        max-width: 90%;
    }
     
    #pattern10 {
        width: 78px;
        max-width: 90%;
    }


}



@media only screen and (min-width: 1700px) { 
    #hero {
        .wrapper {
            h1 {
                font-size: 94px;
                margin: .2em auto;
            }
        }
    }

} 



.white_div {
    height: 3px;
    background-color: white;
    width: 90px;
    margin: 0 auto;
    margin-top: 15px;
}